@import 'tailwindcss';

@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-thirdary: var(--thirdary);
  --color-bg-color: var(--bg-color);
  --color-cout-yellow: var(--cout-yellow);
  --color-cout-purple: var(--cout-purple);
  --color-cout-base: var(--cout-base);
  --color-border-color: var(--border-color);
  --color-confirmation-1: var(--confirmation-1);
  --color-cancel-1: var(--cancel-1);
  --color-confirmation-2: var(--confirmation-2);
  --color-cancel-2: var(--cancel-2);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

:root {
  background-color: rgb(165 180 252);
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Cache la scrollbar sur Chrome, Safari et Opera */
}

.no-scrollbar {
  -ms-overflow-style: none; /* Cache la scrollbar sur Internet Explorer et Edge */
  scrollbar-width: none; /* Cache la scrollbar sur Firefox */
}

/* Remove input up/down buttons */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
}

/* Thème 1 */
.theme1 {
  --cout-yellow: #f4cf77;
  --cout-purple: #2f2e6e;
  --cout-base: #a5b4fc;
  --bg-color: #f3f4f6; /* gray-100 */
  --primary: #ffffff; /* white */
  --text-primary: #1f2937; /* gray-800 */
  --secondary: #f9fafb; /* gray-50 */
  --text-secondary: #374151; /* gray-700 */
  --thirdary: #d1d5db; /* gray-300 */
  --border-color: #e5e7eb; /* gray-200 */
  --confirmation-1: #a5b4fc; /* indigo-300 */
  --cancel-1: #fca5a5; /* red-300 */
  --confirmation-2: #818cf8; /* indigo-400 */
  --cancel-2: #f87171; /* red-400 */
}

/* Thème 2 */
.theme2 {
  --cout-yellow: #f4cf77;
  --cout-purple: #2f2e6e;
  --cout-base: #a5b4fc;
  --bg-color: #1f2937; /* gray-800 */
  --primary: #111827; /* gray-900 */
  --text-primary: #f3f4f6; /* gray-100 */
  --secondary: #374151; /* gray-700 */
  --text-secondary: #d1d5db; /* gray-300 */
  --thirdary: #4b5563; /* gray-600 */
  --border-color: #6b7280; /* gray-500 */
  --confirmation-1: #6366f1; /* indigo-500 */
  --cancel-1: #ef4444; /* red-500 */
  --confirmation-2: #4338ca; /* indigo-700 */
  --cancel-2: #b91c1c; /* red-700 */
}

html, body {
  margin: 0;
  padding: 0;
}
