@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: rgb(165 180 252);
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Cache la scrollbar sur Chrome, Safari et Opera */
}

.no-scrollbar {
  -ms-overflow-style: none; /* Cache la scrollbar sur Internet Explorer et Edge */
  scrollbar-width: none; /* Cache la scrollbar sur Firefox */
}
