@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: rgb(165 180 252);
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Cache la scrollbar sur Chrome, Safari et Opera */
}

.no-scrollbar {
  -ms-overflow-style: none; /* Cache la scrollbar sur Internet Explorer et Edge */
  scrollbar-width: none; /* Cache la scrollbar sur Firefox */
}

/* Remove input up/down buttons */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
}

/* Thème 1 */
.theme1 {
  --coutYellow: #f4cf77;
  --coutPurple: #2f2e6e;
  --coutBase: #a5b4fc;
  --bgColor: #f3f4f6; /* gray-100 */
  --primary: #ffffff; /* white */
  --textPrimary: #1f2937; /* gray-800 */
  --secondary: #f9fafb; /* gray-50 */
  --textSecondary: #374151; /* gray-700 */
  --thirdary: #d1d5db; /* gray-300 */
  --borderColor: #e5e7eb; /* gray-200 */
  --confirmation1: #a5b4fc; /* indigo-300 */
  --cancel1: #fca5a5; /* red-300 */
  --confirmation2: #818cf8; /* indigo-400 */
  --cancel2: #f87171; /* red-400 */
}

/* Thème 2 */
.theme2 {
  --coutYellow: #f4cf77;
  --coutPurple: #2f2e6e;
  --coutBase: #a5b4fc;
  --bgColor: #1f2937; /* gray-800 */
  --primary: #111827; /* gray-900 */
  --textPrimary: #f3f4f6; /* gray-100 */
  --secondary: #374151; /* gray-700 */
  --textSecondary: #d1d5db; /* gray-300 */
  --thirdary: #4b5563; /* gray-600 */
  --borderColor: #6b7280; /* gray-500 */
  --confirmation1: #6366f1; /* indigo-500 */
  --cancel1: #ef4444; /* red-500 */
  --confirmation2: #4338ca; /* indigo-700 */
  --cancel2: #b91c1c; /* red-700 */
}
