<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>196186464380-g5o6vi1g5lbmmvq07qtbnukpr3vteokt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.196186464380-g5o6vi1g5lbmmvq07qtbnukpr3vteokt</string>
	<key>API_KEY</key>
	<string>AIzaSyC9MMUnFHlanoRA1zLRhG0P9PXAndqdIrs</string>
	<key>GCM_SENDER_ID</key>
	<string>196186464380</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fr.planappetit.app</string>
	<key>PROJECT_ID</key>
	<string>planappetit</string>
	<key>STORAGE_BUCKET</key>
	<string>planappetit.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:196186464380:ios:bcdae794422bd11100e9f9</string>
	<key>DATABASE_URL</key>
	<string>https://planappetit.firebaseio.com</string>
</dict>
</plist>
